.index-footer {
  width: 100vw;
  text-align: center;
  padding: 2em 4em;
  position: absolute;
  bottom: 0px;
}

.li-link {
  color: #3273dc;
}

.li-link:hover {
  color: #363636;
  cursor: pointer;
}